@model MyBlog.Models.Entities.Article

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Article</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArticleTitle)
            @Html.ValidationMessageFor(model => model.ArticleTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleSummary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArticleSummary)
            @Html.ValidationMessageFor(model => model.ArticleSummary)
        </div>
       <div class="editor-label">
            @Html.LabelFor(model => model.ArticleContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArticleContent)
            @Html.ValidationMessageFor(model => model.ArticleContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleKeywords)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArticleKeywords)
            @Html.ValidationMessageFor(model => model.ArticleKeywords)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
