@model MyBlog.ViewModel.ContactMe

@{
    ViewBag.Title = "Contact me";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>@ViewBag.Title</h1>
                        <h2>@ViewBag.Message</h2>
                    </hgroup>
                </div>
            </section>
        </div>
    </div>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Message)
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Send Message" />
        </p>


    </div> 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
